a{
    text-decoration: none;
    color: gray;
  }
  .cal-action-item{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
  }
  .meeting-action-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 05px;
}